.sidebar{
    width: 15%;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #00008B;
}

nav{
    padding: 10px;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}

a, Link{
    display: inline-flex;
    justify-content: flex-start;
    text-decoration: none;
    font-weight: 900;
    color: #ffff;
    padding: 30px 10px ;
    
}


.icon{
    margin-right: 7%;
    color: #ffff;
    height: 20px;
    width: 20px;
}

a:hover{
    font-size: 20px;
}
.icon:hover{
    height: 30px;
}

